body {
    background-color: #DEDCEE;
}

.current-card {
    background-color: #FFFCF0;
}

.main {
    width: 60%;
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.wrap {
    width: 100%;
    margin-bottom: 2rem;
}

.input-box {
    display: flex;
    margin-bottom: 30px;
}

.post-sub {
    margin-top: 16px;
    padding: 0.5rem 1rem;
    width: 80%;
    height: 80%;
}

.btn-post {
    padding: 0.4rem 1rem;
    margin: 1rem;
    background-color: #6A60A9;
    outline: 0;
    border: 0;
}

.btn-post:hover {
    background-color: #DEDCEE;
}

.sign-btn {
    background-color: #FBD14B;
    color: white;
    outline: 0;
    border: 0;
}

.memo-wrap {
    margin-top: 50px;
}

.memo-list {
    margin: 1rem;
    padding-left: 50px;
}

.memo-name {
    display: inline-block;
    width: 250px;
}

.memo-item {
    display: inline-block;
    width: 550px;
}

.warning {
    width: 87%;
    display: flex;
    justify-content: space-between;
}