.main {
    width: 60;
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.wrap {
    width: 100%;
    margin-bottom: 2rem;
}

.input-box {
    display: flex;
    margin-bottom: 30px;
}

.post-sub {
    margin-top: 16px;
    padding: 0.5rem 1rem;
    width: 80%;
    height: 80%;
}

.btn-post {
    padding: 0.4rem 1rem;
    margin: 1rem;
}

.memo-wrap {
    margin-top: 50px;
}

.memo-list {
    margin: 1rem;
    padding-left: 50px;
}

.memo-name {
    display: inline-block;
    width: 250px;
}

.memo-item {
    display: inline-block;
    width: 550px;
}