<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TodayShuttle</title>

  <!-- 부트스트랩css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- jquery CDN-->
  <script src="https://code.jquery.com/jquery-3.6.0.js" 
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom header-box">
          <span class="fs-4" style="font-weight: bold;">Today Shuttle</span>
          <span class="btn-login"><button type="button" class="btn btn-outline-info" onclick="location.href='/login'">로그인</button></span>
      </header>
      
      <div class="wrap">
        <div class="p-5 mb-4 bg-light rounded-3">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">00월 00일의 셔틀 : </h1>
            <div class="input-box">
              <input id="post-sub" class="form-control post-sub" placeholder="필요 물품을 적어주세요!">
              <button id="btn-post" class="btn btn-primary btn-post">제출</button>
            </div>
            <div class="memo-wrap">
              <div class="memo-list">
                <span class="memo-name">장덕수</span>
                <span class="memo-item">슬리퍼, 물티슈</span>
                <span class="memo-del"><button class="btn btn-dark btn-sm">삭제</button></span>
              </div>
              <div class="memo-list">
                <span class="memo-name">노진형</span>
                <span class="memo-item">휴지</span>
                <span class="memo-del"><button class="btn btn-dark btn-sm">삭제</button></span>
              </div>
              <div class="memo-list">
                <span class="memo-name">우정범</span>
                <span class="memo-item">바디워시, 샴푸</span>
                <span class="memo-del"><button class="btn btn-dark btn-sm">삭제</button></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="last-cards">
        <div class="wrap">
          <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">00월 00일의 셔틀 : 장덕수 노진형</h1>
              <div class="input-box">
              </div>
              <div class="memo-wrap">
                <div class="memo-list">
                  <span class="memo-name">장덕수</span>
                  <span class="memo-item">슬리퍼, 물티슈</span>
                </div>
                <div class="memo-list">
                  <span class="memo-name">노진형</span>
                  <span class="memo-item">휴지</span>
                </div>
                <div class="memo-list">
                  <span class="memo-name">우정범</span>
                  <span class="memo-item">바디워시, 샴푸</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- 부트스트랩 js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script src="../static/js/index.js"></script>
</body>
</html>